.contact-item {
  display: flex;
  justify-items: center;
  align-content: center;
  &__image,
  &__placeholder {
    border-radius: 50%;
    height: 80px;
    width: 80px;
  }

  p {
    font-weight: 500;
  }
}
