<section>
  <app-search-input (searchValue)="searchContacts($event)"></app-search-input>
  <div>
    <h1>Add New Contact</h1>
    <button mat-mini-fab routerLink="/new-contact">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <ng-container *ngIf="loading$; else noData">
    <ng-container *ngFor="let recentContact of recentContacts$ | async">
      <app-contact-item [contact]="recentContact"></app-contact-item>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="loading$; else noData">
    <ng-container *ngFor="let contact of contacts$ | async">
      <app-contact-item [contact]="contact"></app-contact-item>
    </ng-container>
  </ng-container>
  <ng-template #noData>
    <p>No Data</p>
  </ng-template>
  <app-letters-list></app-letters-list>
</section>
