<section class="contacts-list">
  <app-search-input (searchValue)="searchContacts($event)"></app-search-input>
  <div class="contacts-list__header">
    <h3>Add New Contacts</h3>
    <button
      type="button"
      routerLink="/new-contact"
      class="contacts-list__header__button"
    >
      <mat-icon size="3">add</mat-icon>
    </button>
  </div>
  <ng-container *ngIf="loading$; else noData">
    <h3 class="recent-contacts__title">Latest Contacts</h3>
    <ng-container *ngFor="let recentContact of recentContacts$ | async">
      <app-contact-item [contact]="recentContact"></app-contact-item>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="loading$; else noData">
    <ng-container *ngFor="let contact of contacts$ | async">
      <app-contact-item [contact]="contact"></app-contact-item>
    </ng-container>
  </ng-container>
  <ng-template #noData>
    <p>No Data</p>
  </ng-template>
  <app-letters-list></app-letters-list>
</section>
