$navbar-bg-color: #03254c;
$navbar-font-color: white;

$root-font-size: 13px;
$root-font-size-lg: 13px;
$root-font-size-md: 12px;
$root-font-size-sm: 10px;

$font-weight-base: 400;
$font-family: Roboto, "Helvetica Neue", sans-serif;
